﻿@model Friend

@{
    ViewData["Title"] = "Delete Friend";
}

<div>Are you sure to delete this data @Model.Name ?</div>

<form action="Delete" method="post">
    <input type="hidden" id="Id" name="Id" value="@Model.Id"/> 
@*     <input type="hidden" id="Id" name="Name" value="@Model.Name"/>
    <input type="hidden" id="Id" name="Address" value="@Model.Address"/> *@
    <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-light" asp-controller="Friend" asp-action="Index">Back to List</a>
    </div>
</form>
