﻿@{
    ViewData["Title"] = "Page Friend";
}

<h1 class="card-title">@ViewData["Title"]</h1>

<a type="button" class="btn btn-primary" asp-controller="Friend" asp-action="Create">Create</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Adress</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Friend item in ViewBag.listFriend)
@*         @foreach (Friend item in Model) *@
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>
                    <a type="button" style="color:white" class="btn btn-warning" asp-controller="Friend" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a type="button" style="color:white" class="btn btn-secondary" asp-controller="Friend" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                    <a type="button" style="color:white" class="btn btn-danger" asp-controller="Friend" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>