﻿@using xpos334.datamodels
@model TblRole

@{
    ViewData["Title"] = "Detail Role";
}


<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Detail" method="post" id="form_input">

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">


            <div class="mb-4 row">


                <label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName" readonly>
                    <span id="validated_RoleName" class="text-danger"></span>
                </div>
            </div>

        </form>

    </div>
</div>
