﻿@using xpos334.viewmodels;
@model VMTblVariant
@{
    Layout = null;
    ViewData["Title"] = "Delete Variant Try";
}

<div class="card">
    <div class="card-body">
        <form asp-action="Delete" method="post">
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

            <div class="h3 mb-4">Are you sure to delete @Model.NameVariant?</div>

            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <a class="btn btn-light" asp-controller="VariantTry" asp-action="Index">No</a>
                </div>
            </div>

        </form>
    </div>
</div>
