﻿@using xpos334.viewmodels;
@model VMTblVariant
@{
    ViewData["Title"] = "Create Variant";
}

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row">
                <label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant">
                    <span id="validate_NameVariant" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdCategory",
                    new SelectList(ViewBag.ListCategory,"Id","NameCategory"),
                    "--Select Category--",
                    new{@class = "form-control"}
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
                </div>
            </div>

            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Variant" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>


    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameVariant: {
                required: true,
                minlength: 3,
            }
        },
        messages: {
            NameVariant: {
                required: "Please fill name category",
                minlength: "The name must consist of at least 3 character",
            }
        },
        submitHandler: function (form) {
            //debugger
            //console.log(form)
            var dataForm = $(form).serialize();

            var name = $("#NameVariant").val();
            var id = 0
            var idCategory = $("#IdCategory").val();

            $.ajax({
                url: "/Variant/CheckNameIsExist",
                type: "get",
                data: { name: name, id: id, idCategory: idCategory },
                datatype: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_NameVariant").text("Name Variant is already exist")
                        return true;
                    }
                    else {
                        fungsisubmit(dataForm)
                    }
                }
            })

        }
    })

    function fungsisubmit(dataParam) {
        $.ajax({
            url: "/Variant/Create",
            type: "post",
            data: dataParam,
            datatype: "json",
            success: function (respon) {
                var data = respon.dataRespon

                if (data.success) {
                    $("#my_modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.message)
                }
            }
        })
    }

</script>