﻿@using xpos334.viewmodels;
@model VMTblCustomer
@{
    ViewData["Title"] = "Edit Customer";
}

<div class="card">
    <div class="card-body">

        @*<div class="h4 mb-4">@ViewData["Title"]</div>*@
        <div class="card-title">@ViewData["Title"]</div>


        <form asp-action="Edit" method="post" id="form_input">

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">


            <div class="mb-4 row">
                <label for="NameCustomer" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCustomer" name="NameCustomer" value="@Model.NameCustomer">
                    <span id="validate_NameCustomer" class="text-danger"></span>

                </div>
            </div>
            <div class="mb-4 row">
                <label for="IdRole" class="col-sm-4 col-form-label">Nama Role</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdRole",
                    new SelectList(ViewBag.ListRole, "Id", "RoleName"),
                    "---Pilih Role---",
                    new { @class = "form-control"}
                    )
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Password" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password">
                    <input type="checkbox" onclick="showPassword()"> Show Password
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email">
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Phone" class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone">
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Address" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary" id="fungsisubmit">Submit</button>
                    <a class="btn btn-light" asp-controller="Variant" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>



    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameCustomer: {
                required: true,
                minlength: 3,
            },
            IdRole: "required"
        },
        messages: {
            NameCustomer: {
                required: "Please Fill Name Variant",
                minlength: "The name consist of at least 3 characters",
            },
            IdRole: "Please select Role"
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize();

            var name = $("#NameCustomer").val()
            var id = $("#Id").val()
            var idRole = $("#IdRole").val()

            $.ajax({
                url: "/Customer/CheckNameIsExist",
                type: "get",
                data: { name: name, id: id, idRole: idRole },
                datatype: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_NameCustomer").text("Name Customer is already exist")
                        return true;
                    }
                    else {
                        fungsisubmit(dataForm)
                    }
                }
            })
        }
    })

    function fungsisubmit(dataParam) {
        $.ajax({
            url: "/Customer/Edit",
            type: "post",
            data: dataParam,
            datatype: "json",
            success: function (respon) {
                var data = respon.dataRespon

                if (data.success) {
                    $("#my_modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.message)
                }
            }
        })
    }

    function showPassword() {
        var x = document.getElementById("Password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>